themes {
  {{ name }} {
    bg "{{ surface2.hex }}"
    fg "{{ text.hex }}"
    red "{{ red.hex }}"
    green "{{ green.hex }}"
    blue "{{ blue.hex }}"
    yellow "{{ yellow.hex }}"
    magenta "{{ pink.hex }}"
    orange "{{ peach.hex }}"
    cyan "{{ sky.hex }}"
    black "{{ mantle.hex }}"
    white "{{ text.hex }}"
  }
}
