themes {
  {{ name }} {
    bg "{{ role.border.strong.hex }}"
    fg "{{ role.fg.default.hex }}"
    red "{{ red.hex }}"
    green "{{ overlay1.hex }}"
    blue "{{ blue.hex }}"
    yellow "{{ yellow.hex }}"
    magenta "{{ pink.hex }}"
    orange "{{ peach.hex }}"
    cyan "{{ sky.hex }}"
    black "{{ role.bg.sunken.hex }}"
    white "{{ role.fg.default.hex }}"
  }
}
