name: Morok
shortname: pivoshenko_theme_{{ name }}
isDark: 1
tinted: 1
parent: dark
copyright: Pivoshenko

accent: {{ blue.hex }}
accentIcon: {{ blue.hex }}
accentIconBubble_incoming: {{ subtext1.hex }}
accentIconBubble_outgoing: {{ text.hex }}
accentSelect: {{ overlay0.hex }}
badge: {{ blue.hex }}
badgeMuted: {{ overlay1.hex }}
background: {{ crust.hex }}
basicAccent: {{ crust.hex }}
blackTransparent: {{ crust.hex }}
border: {{ surface1.hex }}
bubbleBackground_incoming: {{ surface2.hex }}
bubbleBackgroundBottom_outgoing: #394456
bubbleBackgroundHighlight_incoming: #353230
bubbleBackgroundHighlight_outgoing: {{ blue.hex }}
bubbleBackgroundTop_outgoing: #3f4c5f
bubbleBorder_incoming: {{ surface2.hex }}
bubbleBorder_outgoing: #3f4c5f
c#78716CText: {{ subtext1.hex }}
c#78716CyTextDisabledBubgoing: {{ subtext1.hex }}
c#78716CyTextDisabledBuboming: {{ subtext1.hex }}
c#78716CyTextDisabled: {{ subtext1.hex }}
chatBackground: {{ crust.hex }}
chatDateActive: {{ surface0.hex }}
chatReplyTextEnabledBubble_incoming: {{ text.hex }}
chatReplyTextEnabledBubble_outgoing: {{ text.hex }}
chatReplyTitle: {{ blue.hex }}
chatReplyTitleBubble_incoming: {{ text.hex }}
chatReplyTitleBubble_outgoing: {{ text.hex }}
darkGrayText: {{ subtext0.hex }}
fileActivityBackground: {{ blue.hex }}
fileActivityBackgroundBubble_incoming: {{ subtext1.hex }}
fileActivityBackgroundBubble_outgoing: {{ text.hex }}
fileActivityForeground: {{ text.hex }}
fileActivityForegroundBubble_incoming: {{ surface0.hex }}
fileActivityForegroundBubble_outgoing: {{ sky.hex }}
focusAnimationColor: {{ blue.hex }}
grayBackground: {{ surface0.hex }}
grayForeground: {{ surface0.hex }}
grayHighlight: {{ surface0.hex }}
grayIcon: {{ overlay0.hex }}
grayIconBubble_incoming: {{ subtext1.hex }}
grayIconBubble_outgoing: {{ subtext1.hex }}
grayText: {{ subtext1.hex }}
grayTextBubble_incoming: {{ subtext1.hex }}
grayTextBubble_outgoing: {{ text.hex }}
grayTransparent: {{ surface0.hex }}99
grayUI: {{ crust.hex }}
greenBubble_incoming: {{ blue.hex }}
greenBubble_outgoing: {{ blue.hex }}
greenUI: {{ green.hex }}
groupPeerNameCyan: {{ teal.hex }}
groupPeerNameGreen: {{ teal.hex }}
groupPeerNameLightBlue: {{ blue.hex }}
groupPeerNameOrange: {{ peach.hex }}
groupPeerNameRed: {{ red.hex }}
groupPeerNameViolet: {{ blue.hex }}
indicatorColor: {{ text.hex }}
l#78716CText: {{ subtext1.hex }}
link: {{ blue.hex }}
linkBubble_incoming: {{ blue.hex }}
listBackground: {{ surface0.hex }}
monospacedCode: {{ blue.hex }}
monospacedCodeBubble_incoming: {{ text.hex }}
monospacedCodeBubble_outgoing: {{ text.hex }}
monospacedPre: {{ blue.hex }}
monospacedPreBubble_incoming: {{ text.hex }}
monospacedPreBubble_outgoing: {{ text.hex }}
peerAvatarBlueBottom: {{ blue.hex }}
peerAvatarBlueTop: {{ sky.hex }}
peerAvatarCyanBottom: {{ teal.hex }}
peerAvatarCyanTop: {{ teal.hex }}
peerAvatarGreenBottom: {{ blue.hex }}
peerAvatarGreenTop: {{ blue.hex }}
peerAvatarOrangeBottom: {{ peach.hex }}
peerAvatarOrangeTop: {{ yellow.hex }}
peerAvatarPinkBottom: {{ blue.hex }}
peerAvatarRedBottom: {{ maroon.hex }}
peerAvatarRedTop: {{ peach.hex }}
peerAvatarVioletBottom: {{ overlay0.hex }}
peerAvatarVioletTop: {{ overlay0.hex }}
redBubble_incoming: {{ red.hex }}
redBubble_outgoing: {{ red.hex }}
redUI: {{ red.hex }}
revealAction_accent_background: {{ blue.hex }}
revealAction_accent_foreground: {{ text.hex }}
revealAction_constructive_background: {{ blue.hex }}
revealAction_constructive_foreground: {{ text.hex }}
revealAction_destructive_background: {{ red.hex }}
revealAction_destructive_foreground: {{ text.hex }}
revealAction_inactive_background: {{ surface0.hex }}
revealAction_inactive_foreground: {{ text.hex }}
revealAction_neutral1_background: {{ blue.hex }}
revealAction_neutral1_foreground: {{ text.hex }}
revealAction_neutral2_background: {{ flamingo.hex }}
revealAction_neutral2_foreground: {{ text.hex }}
revealAction_warning_background: {{ flamingo.hex }}
revealAction_warning_foreground: {{ text.hex }}
selectMessage: {{ crust.hex }}
selectMessageBubble: {{ surface0.hex }}
selectText: {{ overlay0.hex }}
selectTextBubble_incoming: {{ overlay0.hex }}
selectTextBubble_outgoing: {{ overlay0.hex }}
text: {{ text.hex }}
waveformBackground: {{ subtext1.hex }}b3
waveformBackgroundBubble_incoming: {{ subtext1.hex }}
waveformBackgroundBubble_outgoing: {{ subtext1.hex }}
waveformForeground: {{ blue.hex }}
waveformForegroundBubble_incoming: {{ text.hex }}
waveformForegroundBubble_outgoing: {{ text.hex }}
webPreviewActivity: {{ blue.hex }}
webPreviewActivityBubble_outgoing: {{ text.hex }}
