:root {
  --{{ name }}-rosewater: {{ rosewater.hex }};
  --{{ name }}-flamingo: {{ flamingo.hex }};
  --{{ name }}-pink: {{ pink.hex }};
  --{{ name }}-mauve: {{ mauve.hex }};
  --{{ name }}-red: {{ red.hex }};
  --{{ name }}-maroon: {{ maroon.hex }};
  --{{ name }}-peach: {{ peach.hex }};
  --{{ name }}-yellow: {{ yellow.hex }};
  --{{ name }}-green: {{ green.hex }};
  --{{ name }}-teal: {{ teal.hex }};
  --{{ name }}-sky: {{ sky.hex }};
  --{{ name }}-sapphire: {{ sapphire.hex }};
  --{{ name }}-blue: {{ blue.hex }};
  --{{ name }}-lavender: {{ lavender.hex }};
  --{{ name }}-text: {{ text.hex }};
  --{{ name }}-subtext1: {{ subtext1.hex }};
  --{{ name }}-subtext0: {{ subtext0.hex }};
  --{{ name }}-overlay2: {{ overlay2.hex }};
  --{{ name }}-overlay1: {{ overlay1.hex }};
  --{{ name }}-overlay0: {{ overlay0.hex }};
  --{{ name }}-surface2: {{ surface2.hex }};
  --{{ name }}-surface1: {{ surface1.hex }};
  --{{ name }}-surface0: {{ surface0.hex }};
  --{{ name }}-base: {{ base.hex }};
  --{{ name }}-mantle: {{ mantle.hex }};
  --{{ name }}-crust: {{ crust.hex }};
}
