[{{ iif(cond=flavor.dark, t='dark', f='light') }}]
fish_color_normal {{ text.hex | replace('#', '') }}
fish_color_command {{ blue.hex | replace('#', '') }}
fish_color_param {{ flamingo.hex | replace('#', '') }}
fish_color_keyword {{ mauve.hex | replace('#', '') }}
fish_color_quote {{ green.hex | replace('#', '') }}
fish_color_redirection {{ pink.hex | replace('#', '') }}
fish_color_end {{ peach.hex | replace('#', '') }}
fish_color_comment {{ overlay1.hex | replace('#', '') }}
fish_color_error {{ red.hex | replace('#', '') }}
fish_color_gray {{ overlay0.hex | replace('#', '') }}
fish_color_selection --background={{ surface0.hex | replace('#', '') }}
fish_color_search_match --background={{ surface0.hex | replace('#', '') }}
fish_color_option {{ green.hex | replace('#', '') }}
fish_color_operator {{ pink.hex | replace('#', '') }}
fish_color_escape {{ maroon.hex | replace('#', '') }}
fish_color_autosuggestion {{ overlay0.hex | replace('#', '') }}
fish_color_cancel {{ red.hex | replace('#', '') }}
fish_color_cwd {{ yellow.hex | replace('#', '') }}
fish_color_user {{ teal.hex | replace('#', '') }}
fish_color_host {{ blue.hex | replace('#', '') }}
fish_color_host_remote {{ green.hex | replace('#', '') }}
fish_color_status {{ red.hex | replace('#', '') }}
fish_pager_color_progress {{ overlay0.hex | replace('#', '') }}
fish_pager_color_prefix {{ pink.hex | replace('#', '') }}
fish_pager_color_completion {{ text.hex | replace('#', '') }}
fish_pager_color_description {{ overlay0.hex | replace('#', '') }}