[styles.cpu]
all_entry_color = "{{ rosewater.hex }}"
avg_entry_color = "{{ maroon.hex }}"
cpu_core_colors = ["{{ red.hex }}","{{ peach.hex }}","{{ yellow.hex }}","{{ green.hex }}","{{ sapphire.hex }}","{{ mauve.hex }}"]

[styles.memory]
ram_color = "{{ green.hex }}"
cache_color = "{{ red.hex }}"
swap_color = "{{ peach.hex }}"
gpu_colors = ["{{ sapphire.hex }}","{{ mauve.hex }}","{{ red.hex }}","{{ peach.hex }}","{{ yellow.hex }}","{{ green.hex }}"]
arc_color = "{{ sky.hex }}"

[styles.network]
rx_color = "{{ green.hex }}"
tx_color = "{{ red.hex }}"
rx_total_color = "{{ sky.hex }}"
tx_total_color = "{{ green.hex }}"

[styles.battery]
high_battery_color = "{{ green.hex }}"
medium_battery_color = "{{ yellow.hex }}"
low_battery_color = "{{ red.hex }}"

[styles.tables]
headers = {color = "{{ rosewater.hex }}"}

[styles.graphs]
graph_color = "{{ subtext0.hex }}"
legend_text = {color = "{{ subtext0.hex }}"}

[styles.widgets]
border_color = "{{ surface2.hex }}"
selected_border_color = "{{ pink.hex }}"
widget_title = {color = "{{ flamingo.hex }}"}
text = {color = "{{ text.hex }}"}
selected_text = {color = "{{ crust.hex }}", bg_color = "{{ mauve.hex }}"}
disabled_text = {color = "{{ base.hex }}"}
