[delta "{{name}}"]
blame-palette = "{{base}} {{mantle}} {{crust}} {{surface0}} {{surface1}}"
commit-decoration-style = "{{overlay0}}" bold box ul
dark = true
file-decoration-style = "{{overlay0}}"
file-style = "{{text}}"
hunk-header-decoration-style = "{{overlay0}}" box ul
hunk-header-file-style = bold
hunk-header-line-number-style = bold "{{subtext0}}"
hunk-header-style = file line-number syntax
line-numbers-left-style = "{{overlay0}}"
line-numbers-minus-style = bold "{{red}}"
line-numbers-plus-style = bold "{{green}}"
line-numbers-right-style = "{{overlay0}}"
line-numbers-zero-style = "{{overlay0}}"
minus-emph-style = bold syntax "{{minus_emph_style}}"
minus-style = syntax "{{minus_style}}"
plus-emph-style = bold syntax "{{plus_emph_style}}"
plus-style = syntax "{{plus_style}}"
map-styles = \
  bold purple => syntax "{{map_purple}}", \
  bold blue => syntax "{{map_blue}}", \
  bold cyan => syntax "{{map_cyan}}", \
  bold yellow => syntax "{{map_yellow}}"
syntax-theme = {{name}}
