theme:
  activeBorderColor:
    - '{{ blue.hex }}'
    - bold
  inactiveBorderColor:
    - '{{ subtext0.hex }}'
  optionsTextColor:
    - '{{ blue.hex }}'
  selectedLineBgColor:
    - '{{ surface0.hex }}'
  cherryPickedCommitBgColor:
    - '{{ surface1.hex }}'
  cherryPickedCommitFgColor:
    - '{{ blue.hex }}'
  unstagedChangesColor:
    - '{{ red.hex }}'
  defaultFgColor:
    - '{{ text.hex }}'
  searchingActiveBorderColor:
    - '{{ yellow.hex }}'

authorColors:
  '*': '{{ lavender.hex }}'
