palette = "{{ name }}"

[palettes.{{ name }}]
rosewater = "{{ rosewater.hex }}"
flamingo = "{{ flamingo.hex }}"
pink = "{{ pink.hex }}"
mauve = "{{ mauve.hex }}"
red = "{{ red.hex }}"
maroon = "{{ maroon.hex }}"
peach = "{{ peach.hex }}"
yellow = "{{ yellow.hex }}"
green = "{{ green.hex }}"
teal = "{{ teal.hex }}"
sky = "{{ sky.hex }}"
sapphire = "{{ sapphire.hex }}"
blue = "{{ blue.hex }}"
lavender = "{{ lavender.hex }}"
text = "{{ text.hex }}"
subtext1 = "{{ subtext1.hex }}"
subtext0 = "{{ subtext0.hex }}"
overlay2 = "{{ overlay2.hex }}"
overlay1 = "{{ overlay1.hex }}"
overlay0 = "{{ overlay0.hex }}"
surface2 = "{{ surface2.hex }}"
surface1 = "{{ surface1.hex }}"
surface0 = "{{ surface0.hex }}"
base = "{{ base.hex }}"
mantle = "{{ mantle.hex }}"
crust = "{{ crust.hex }}"
