themes {
  {{ name | replace('_', '-') }} {
    bg "{{ surface2.hex }}" // Surface2
    fg "{{ text.hex }}" // Text
    red "{{ red.hex }}"
    green "{{ green.hex }}"
    blue "{{ blue.hex }}"
    yellow "{{ yellow.hex }}"
    magenta "{{ pink.hex }}" // Pink
    orange "{{ peach.hex }}" // Peach
    cyan "{{ sky.hex }}" // Sky
    black "{{ mantle.hex }}" // Mantle
    white "{{ text.hex }}" // Text
  }
}
