@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: {{ surface0.hex }} !important;
    --zen-primary-color: {{ blue.hex }} !important;
    --zen-colors-secondary: {{ surface0.hex }} !important;
    --zen-colors-tertiary: {{ mantle.hex }} !important;
    --zen-colors-border: {{ blue.hex }} !important;
    --toolbarbutton-icon-fill: {{ blue.hex }} !important;
    --lwt-text-color: {{ text.hex }} !important;
    --toolbar-field-color: {{ text.hex }} !important;
    --tab-selected-textcolor: {{ blue | mix(color=text, amount=0.5) | get(key='hex') }} !important;
    --toolbar-field-focus-color: {{ text.hex }} !important;
    --toolbar-color: {{ text.hex }} !important;
    --newtab-text-primary-color: {{ text.hex }} !important;
    --arrowpanel-color: {{ text.hex }} !important;
    --arrowpanel-background: {{ base.hex }} !important;
    --sidebar-text-color: {{ text.hex }} !important;
    --lwt-sidebar-text-color: {{ text.hex }} !important;
    --lwt-sidebar-background-color: {{ crust.hex }} !important;
    --toolbar-bgcolor: {{ surface0.hex }} !important;
    --newtab-background-color: {{ base.hex }} !important;
    --zen-themed-toolbar-bg: {{ mantle.hex }} !important;
    --zen-main-browser-background: {{ mantle.hex }} !important;
    --toolbox-bgcolor-inactive: {{ mantle.hex }} !important;
  }

  #permissions-granted-icon {
    color: {{ mantle.hex }} !important;
  }

  .sidebar-placesTree,
  #zen-workspaces-button,
  .urlbar-background {
    background-color: {{ base.hex }} !important;
  }

  #TabsToolbar,
  hbox#titlebar,
  #zen-appcontent-navbar-container {
    background-color: {{ mantle.hex }} !important;
  }

  .content-shortcuts {
    background-color: {{ base.hex }} !important;
    border-color: {{ blue.hex }} !important;
  }

  .urlbarView-url {
    color: {{ blue.hex }} !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: {{ crust.hex }} !important;
  }

  #zen-media-controls-toolbar #zen-media-progress-bar::-moz-range-track {
    background: {{ surface0.hex }} !important;
  }

  .identity-color-blue { --identity-tab-color: {{ blue.hex }} !important; --identity-icon-color: {{ blue.hex }} !important; }
  .identity-color-turquoise { --identity-tab-color: {{ teal.hex }} !important; --identity-icon-color: {{ teal.hex }} !important; }
  .identity-color-green { --identity-tab-color: {{ green.hex }} !important; --identity-icon-color: {{ green.hex }} !important; }
  .identity-color-yellow { --identity-tab-color: {{ yellow.hex }} !important; --identity-icon-color: {{ yellow.hex }} !important; }
  .identity-color-orange { --identity-tab-color: {{ peach.hex }} !important; --identity-icon-color: {{ peach.hex }} !important; }
  .identity-color-red { --identity-tab-color: {{ red.hex }} !important; --identity-icon-color: {{ red.hex }} !important; }
  .identity-color-pink { --identity-tab-color: {{ pink.hex }} !important; --identity-icon-color: {{ pink.hex }} !important; }
  .identity-color-purple { --identity-tab-color: {{ mauve.hex }} !important; --identity-icon-color: {{ mauve.hex }} !important; }
}
