[delta "{{ name }}"]
blame-palette = "{{ base.hex }} {{ mantle.hex }} {{ crust.hex }} {{ surface0.hex }} {{ surface1.hex }}"
commit-decoration-style = "{{ overlay0.hex }}" bold box ul
dark = {{ iif(cond=flavor.dark, t='true', f='false') }}
file-decoration-style = "{{ overlay0.hex }}"
file-style = "{{ text.hex }}"
hunk-header-decoration-style = "{{ overlay0.hex }}" box ul
hunk-header-file-style = bold
hunk-header-line-number-style = bold "{{ subtext0.hex }}"
hunk-header-style = file line-number syntax
line-numbers-left-style = "{{ overlay0.hex }}"
line-numbers-minus-style = bold "{{ red.hex }}"
line-numbers-plus-style = bold "{{ green.hex }}"
line-numbers-right-style = "{{ overlay0.hex }}"
line-numbers-zero-style = "{{ overlay0.hex }}"
minus-emph-style = bold syntax "{{ base | mix(color=red, amount=0.35) | get(key='hex') }}"
minus-style = syntax "{{ base | mix(color=red, amount=0.2) | get(key='hex') }}"
plus-emph-style = bold syntax "{{ base | mix(color=green, amount=0.35) | get(key='hex') }}"
plus-style = syntax "{{ base | mix(color=green, amount=0.2) | get(key='hex') }}"
map-styles = \
bold purple => syntax "{{ base | mix(color=mauve, amount=0.35) | get(key='hex') }}", \
bold blue => syntax "{{ base | mix(color=blue, amount=0.35) | get(key='hex') }}", \
bold cyan => syntax "{{ base | mix(color=sapphire, amount=0.35) | get(key='hex') }}", \
bold yellow => syntax "{{ base | mix(color=yellow, amount=0.35) | get(key='hex') }}"
syntax-theme = {{ name }}