set -Ux FZF_{{ name | upper }} "\
--color=bg+:{{ role.bg.surface.hex }},bg:{{ role.bg.canvas.hex }},spinner:{{ rosewater.hex }},hl:{{ role.accent.danger.hex }} \
--color=fg:{{ role.fg.default.hex }},header:{{ role.accent.danger.hex }},info:{{ mauve.hex }},pointer:{{ rosewater.hex }} \
--color=marker:{{ lavender.hex }},fg+:{{ role.fg.default.hex }},prompt:{{ mauve.hex }},hl+:{{ role.accent.danger.hex }} \
--color=selected-bg:{{ role.bg.raised.hex }} \
--color=border:{{ role.bg.overlay.hex }},label:{{ role.fg.default.hex }}"
